
.navbar{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    }
    
    .navbar .logo{
        margin-top: 2rem;
    height: 70px;
    width: 175px;
    background-image: url('../../../public/assests/logo.jpg');
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
background-size: cover;    
    }
    
    .navbar .nav-items{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    }
    
    .navbar .nav-items .nav-item{
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    margin-right: 2rem;
    cursor: pointer;
    }